body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.netflix {
  position: absolute;
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.date-item {
  position: absolute;
  top: 10px;
  margin: auto;
}

.item-row {
  position: absolute;
  height: 30px;
  transition: all 3s;
  left: 5%;
  margin-top: 5%;
  background-color: blanchedalmond;
  border-radius: 0 4px 4px 0;
  text-align: left;
  padding-left: 4px;
  align-items: center;
  display: flex;
  border: 1px solid wheat;
}
